@import url('https://fonts.googleapis.com/css2?family=Young+Serif&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');

.sr-only {
  border: 0;
  clip: rect(0, 0, 0, 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

h1, h2, h3 {
  font-family: 'Young Serif', serif;
}

body {
  font-family: 'Poppins', sans-serif;
  background-color: #FEC3A2;
}

.wrapper {
  max-width: 100ch; 
  margin-left: auto;
  margin-right: auto; 
}

img {
  width: 30%;
  height: auto; 
}